doctype html
html
  head
    link(href="/assets/bootstrap/css/bootstrap.min.css")
    script(src="/assets/bootstrap/js/bootstrap.min.js")
    script(src="/assets/jquery/js/jquery-2.1.4.min.js")    
  body
    !{body}
